In [15]:
# this notebook creates and populates tables for UN Data reports

In [1]:
from functions import *
from SQL_functions import *
from stats_forumulas import *
import config
import mysql.connector
from mysql.connector import errorcode
import math
import pandas as pd
import numpy as np
%load_ext autoreload
%reload_ext autoreload
%autoreload 2

In [4]:
cur, cnx = connect_to_db('gender')

## Creating Tables for UN Data

In [11]:
TABLES = {}
csv_names = ['child_birth_rate', 'contraceptive_prevalence', 'gender_urban_ratio', 
             'gender_rural_ratio', 'ter_ed_enrollment', 'women_teach_sec', 'women_teach_ter', 
             'abortion_laws', 'abortion_rate', 'abortion_info', 'population_data_full']

In [12]:
for name in csv_names:
    TABLES[name] = (f"""
    CREATE TABLE {name} (
    country varchar(50),
    subgroup varchar(200),
    year int(50),
    unit varchar(50),
    value int(50),
    PRIMARY KEY (country, subgroup, year)
    ) 
    """)

In [14]:
# added to DB
for name in csv_names:
    cur.execute(TABLES[name])

In [15]:
# close cursor
cnx.close()
cur.close() # returned True

True

## Populating our Tables

In [6]:
df.head()

,Last Updated Date,2019-10-02,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,NaN
2,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,NaN
3,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,...,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,...,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0,NaN

In [7]:
# insert_data('population_data_full', 'population_data_full')


# cur, cnx = connect_to_db('gender')
df = pd.read_csv(f'Data To Use/population_data_full.csv', header = 4)
# df['2018'] = pd.to_numeric(df['2018'], errors = 'coerce')
print(df.head())
l = list(zip(df['Country Name'], list(range(df.shape[0])), list(range(df.shape[0])),
             list(range(df.shape[0])), df['2018']))
# # cleaning df to ensure proper end point
# start = df.loc[df['Data Source'] == 'Country Name'].index[0]
# df2 = df.iloc[start+1:]
qu = ''' INSERT INTO gender.population_data_full (country, subgroup, year, unit, value)
VALUES (%s, %s, %s, %s, %s)
'''
# # cleaning df to ensure proper type
# df2['Value'] = pd.to_numeric(df2['Value'], errors = 'coerce')
for item in l:
    cur.execute(qu, item)
cnx.commit()
cnx.close()

  Country Name Country Code     Indicator Name Indicator Code       1960  \
0        Aruba          ABW  Population, total    SP.POP.TOTL    54211.0
1  Afghanistan          AFG  Population, total    SP.POP.TOTL  8996973.0
2       Angola          AGO  Population, total    SP.POP.TOTL  5454933.0
3      Albania          ALB  Population, total    SP.POP.TOTL  1608800.0
4      Andorra          AND  Population, total    SP.POP.TOTL    13411.0

        1961       1962       1963       1964       1965  ...      2010  \
0    55438.0    56225.0    56695.0    57032.0    57360.0  ...    101669
1  9169410.0  9351441.0  9543205.0  9744781.0  9956320.0  ...  29185507
2  5531472.0  5608539.0  5679458.0  5735044.0  5770570.0  ...  23356246
3  1659800.0  1711319.0  1762621.0  1814135.0  1864791.0  ...   2913021
4    14375.0    15370.0    16412.0    17469.0    18549.0  ...     84449

       2011      2012      2013      2014      2015      2016      2017  \
0    102046    102560    103159    103774    104341    104872    105366
1  30117413  31161376  32269589  33370794  34413603  35383128  36296400
2  24220661  25107931  26015780  26941779  27884381  28842484  29816748
3   2905195   2900401   2895092   2889104   2880703   2876101   2873457
4     83747     82427     80774     79213     78011     77297     77001

       2018  Unnamed: 63
0    105845          NaN
1  37172386          NaN
2  30809762          NaN
3   2866376          NaN
4     77006          NaN

[5 rows x 64 columns]
('Aruba', 0, 0, 0, 105845)
('Afghanistan', 1, 1, 1, 37172386)
('Angola', 2, 2, 2, 30809762)
('Albania', 3, 3, 3, 2866376)
('Andorra', 4, 4, 4, 77006)
('Arab World', 5, 5, 5, 419790588)
('United Arab Emirates', 6, 6, 6, 9630959)
('Argentina', 7, 7, 7, 44494502)
('Armenia', 8, 8, 8, 2951776)
('American Samoa', 9, 9, 9, 55465)
('Antigua and Barbuda', 10, 10, 10, 96286)
('Australia', 11, 11, 11, 24992369)
('Austria', 12, 12, 12, 8847037)
('Azerbaijan', 13, 13, 13, 9942334)
('Burundi', 14, 14, 14, 11175378)
('Belgium', 15, 15, 15, 11422068)
('Benin', 16, 16, 16, 11485048)
('Burkina Faso', 17, 17, 17, 19751535)
('Bangladesh', 18, 18, 18, 161356039)
('Bulgaria', 19, 19, 19, 7024216)
('Bahrain', 20, 20, 20, 1569439)
('Bahamas, The', 21, 21, 21, 385640)
('Bosnia and Herzegovina', 22, 22, 22, 3323929)
('Belarus', 23, 23, 23, 9485386)
('Belize', 24, 24, 24, 383071)
('Bermuda', 25, 25, 25, 63968)
('Bolivia', 26, 26, 26, 11353142)
('Brazil', 27, 27, 27, 209469333)
('Barbados', 28, 28, 28, 286641)
('Brunei Darussalam', 29, 29, 29, 428962)
('Bhutan', 30, 30, 30, 754394)
('Botswana', 31, 31, 31, 2254126)
('Central African Republic', 32, 32, 32, 4666377)
('Canada', 33, 33, 33, 37058856)
('Central Europe and the Baltics', 34, 34, 34, 102511922)
('Switzerland', 35, 35, 35, 8516543)
('Channel Islands', 36, 36, 36, 170499)
('Chile', 37, 37, 37, 18729160)
('China', 38, 38, 38, 1392730000)
("Cote d'Ivoire", 39, 39, 39, 25069229)
('Cameroon', 40, 40, 40, 25216237)
('Congo, Dem. Rep.', 41, 41, 41, 84068091)
('Congo, Rep.', 42, 42, 42, 5244363)
('Colombia', 43, 43, 43, 49648685)
('Comoros', 44, 44, 44, 832322)
('Cabo Verde', 45, 45, 45, 543767)
('Costa Rica', 46, 46, 46, 4999441)
('Caribbean small states', 47, 47, 47, 7358965)
('Cuba', 48, 48, 48, 11338138)
('Curacao', 49, 49, 49, 159849)
('Cayman Islands', 50, 50, 50, 64174)
('Cyprus', 51, 51, 51, 1189265)
('Czech Republic', 52, 52, 52, 10625695)
('Germany', 53, 53, 53, 82927922)
('Djibouti', 54, 54, 54, 958920)
('Dominica', 55, 55, 55, 71625)
('Denmark', 56, 56, 56, 5797446)
('Dominican Republic', 57, 57, 57, 10627165)
('Algeria', 58, 58, 58, 42228429)
('East Asia & Pacific (excluding high income)', 59, 59, 59, 2081651801)
('Early-demographic dividend', 60, 60, 60, 3249140605)
('East Asia & Pacific', 61, 61, 61, 2328220870)
('Europe & Central Asia (excluding high income)', 62, 62, 62, 417797257)
('Europe & Central Asia', 63, 63, 63, 918793590)
('Ecuador', 64, 64, 64, 17084357)
('Egypt, Arab Rep.', 65, 65, 65, 98423595)
('Euro area', 66, 66, 66, 341783171)
('Spain', 67, 67, 67, 46723749)
('Estonia', 68, 68, 68, 1320884)
('Ethiopia', 69, 69, 69, 109224559)
('European Union', 70, 70, 70, 513213363)
('Fragile and conflict affected situations', 71, 71, 71, 515215936)
('Finland', 72, 72, 72, 5518050)
('Fiji', 73, 73, 73, 883483)
('France', 74, 74, 74, 66987244)
('Faroe Islands', 75, 75, 75, 48497)
('Micronesia, Fed. Sts.', 76, 76, 76, 112640)
('Gabon', 77, 77, 77, 2119275)
('United Kingdom', 78, 78, 78, 66488991)
('Georgia', 79, 79, 79, 3731000)
('Ghana', 80, 80, 80, 29767108)
('Gibraltar', 81, 81, 81, 33718)
('Guinea', 82, 82, 82, 12414318)
('Gambia, The', 83, 83, 83, 2280102)
('Guinea-Bissau', 84, 84, 84, 1874309)
('Equatorial Guinea', 85, 85, 85, 1308974)
('Greece', 86, 86, 86, 10727668)
('Grenada', 87, 87, 87, 111454)
('Greenland', 88, 88, 88, 56025)
('Guatemala', 89, 89, 89, 17247807)
('Guam', 90, 90, 90, 165768)
('Guyana', 91, 91, 91, 779004)
('High income', 92, 92, 92, 1210312147)
('Hong Kong SAR, China', 93, 93, 93, 7451000)
('Honduras', 94, 94, 94, 9587522)
('Heavily indebted poor countries (HIPC)', 95, 95, 95, 780234406)
('Croatia', 96, 96, 96, 4089400)
('Haiti', 97, 97, 97, 11123176)
('Hungary', 98, 98, 98, 9768785)
('IBRD only', 99, 99, 99, 4772284113)
('IDA & IBRD total', 100, 100, 100, 6412522234)
('IDA total', 101, 101, 101, 1640238121)
('IDA blend', 102, 102, 102, 555830605)
('Indonesia', 103, 103, 103, 267663435)
('IDA only', 104, 104, 104, 1084407516)
('Isle of Man', 105, 105, 105, 84077)
('India', 106, 106, 106, 1352617328)
('Ireland', 107, 107, 107, 4853506)
('Iran, Islamic Rep.', 108, 108, 108, 81800269)
('Iraq', 109, 109, 109, 38433600)
('Iceland', 110, 110, 110, 353574)
('Israel', 111, 111, 111, 8883800)
('Italy', 112, 112, 112, 60431283)
('Jamaica', 113, 113, 113, 2934855)
('Jordan', 114, 114, 114, 9956011)
('Japan', 115, 115, 115, 126529100)
('Kazakhstan', 116, 116, 116, 18276499)
('Kenya', 117, 117, 117, 51393010)
('Kyrgyz Republic', 118, 118, 118, 6315800)
('Cambodia', 119, 119, 119, 16249798)
('Kiribati', 120, 120, 120, 115847)
('St. Kitts and Nevis', 121, 121, 121, 52441)
('Korea, Rep.', 122, 122, 122, 51635256)
('Kuwait', 123, 123, 123, 4137309)
('Latin America & Caribbean (excluding high income)', 124, 124, 124, 609013934)
('Lao PDR', 125, 125, 125, 7061507)
('Lebanon', 126, 126, 126, 6848925)
('Liberia', 127, 127, 127, 4818977)
('Libya', 128, 128, 128, 6678567)
('St. Lucia', 129, 129, 129, 181889)
('Latin America & Caribbean', 130, 130, 130, 641357515)
('Least developed countries: UN classification', 131, 131, 131, 1009662578)
('Low income', 132, 132, 132, 705417321)
('Liechtenstein', 133, 133, 133, 37910)
('Sri Lanka', 134, 134, 134, 21670000)
('Lower middle income', 135, 135, 135, 3022905169)
('Low & middle income', 136, 136, 136, 6383958209)
('Lesotho', 137, 137, 137, 2108132)
('Late-demographic dividend', 138, 138, 138, 2288665963)
('Lithuania', 139, 139, 139, 2789533)
('Luxembourg', 140, 140, 140, 607728)
('Latvia', 141, 141, 141, 1926542)
('Macao SAR, China', 142, 142, 142, 631636)
('St. Martin (French part)', 143, 143, 143, 37264)
('Morocco', 144, 144, 144, 36029138)
('Monaco', 145, 145, 145, 38682)
('Moldova', 146, 146, 146, 3545883)
('Madagascar', 147, 147, 147, 26262368)
('Maldives', 148, 148, 148, 515696)
('Middle East & North Africa', 149, 149, 149, 448912859)
('Mexico', 150, 150, 150, 126190788)
('Marshall Islands', 151, 151, 151, 58413)
('Middle income', 152, 152, 152, 5678540888)
('North Macedonia', 153, 153, 153, 2082958)
('Mali', 154, 154, 154, 19077690)
('Malta', 155, 155, 155, 483530)
('Myanmar', 156, 156, 156, 53708395)
('Middle East & North Africa (excluding high income)', 157, 157, 157, 382896715)
('Montenegro', 158, 158, 158, 622345)
('Mongolia', 159, 159, 159, 3170208)
('Northern Mariana Islands', 160, 160, 160, 56882)
('Mozambique', 161, 161, 161, 29495962)
('Mauritania', 162, 162, 162, 4403319)
('Mauritius', 163, 163, 163, 1265303)
('Malawi', 164, 164, 164, 18143315)
('Malaysia', 165, 165, 165, 31528585)
('North America', 166, 166, 166, 364290258)
('Namibia', 167, 167, 167, 2448255)
('New Caledonia', 168, 168, 168, 284060)
('Niger', 169, 169, 169, 22442948)

('Nigeria', 170, 170, 170, 195874740)
('Nicaragua', 171, 171, 171, 6465513)
('Netherlands', 172, 172, 172, 17231017)
('Norway', 173, 173, 173, 5314336)
('Nepal', 174, 174, 174, 28087871)
('Nauru', 175, 175, 175, 12704)
('New Zealand', 176, 176, 176, 4885500)
('OECD members', 177, 177, 177, 1303529456)
('Oman', 178, 178, 178, 4829483)
('Other small states', 179, 179, 179, 30758989)
('Pakistan', 180, 180, 180, 212215030)
('Panama', 181, 181, 181, 4176873)
('Peru', 182, 182, 182, 31989256)
('Philippines', 183, 183, 183, 106651922)
('Palau', 184, 184, 184, 17907)
('Papua New Guinea', 185, 185, 185, 8606316)
('Poland', 186, 186, 186, 37978548)
('Pre-demographic dividend', 187, 187, 187, 919485393)
('Puerto Rico', 188, 188, 188, 3195153)
('Korea, Dem. Peopleâ€™s Rep.', 189, 189, 189, 25549819)
('Portugal', 190, 190, 190, 10281762)
('Paraguay', 191, 191, 191, 6956071)
('West Bank and Gaza', 192, 192, 192, 4569087)
('Pacific island small states', 193, 193, 193, 2457367)
('Post-demographic dividend', 194, 194, 194, 1109997273)
('French Polynesia', 195, 195, 195, 277679)
('Qatar', 196, 196, 196, 2781677)
('Romania', 197, 197, 197, 19473936)
('Russian Federation', 198, 198, 198, 144478050)
('Rwanda', 199, 199, 199, 12301939)
('South Asia', 200, 200, 200, 1814388744)
('Saudi Arabia', 201, 201, 201, 33699947)
('Sudan', 202, 202, 202, 41801533)
('Senegal', 203, 203, 203, 15854360)
('Singapore', 204, 204, 204, 5638676)
('Solomon Islands', 205, 205, 205, 652858)
('Sierra Leone', 206, 206, 206, 7650154)
('El Salvador', 207, 207, 207, 6420744)
('San Marino', 208, 208, 208, 33785)
('Somalia', 209, 209, 209, 15008154)
('Serbia', 210, 210, 210, 6982084)
('Sub-Saharan Africa (excluding high income)', 211, 211, 211, 1078209758)
('South Sudan', 212, 212, 212, 10975920)
('Sub-Saharan Africa', 213, 213, 213, 1078306520)
('Small states', 214, 214, 214, 40575321)
('Sao Tome and Principe', 215, 215, 215, 211028)
('Suriname', 216, 216, 216, 575991)
('Slovak Republic', 217, 217, 217, 5447011)
('Slovenia', 218, 218, 218, 2067372)
('Sweden', 219, 219, 219, 10183175)
('Eswatini', 220, 220, 220, 1136191)
('Sint Maarten (Dutch part)', 221, 221, 221, 40654)
('Seychelles', 222, 222, 222, 96762)
('Syrian Arab Republic', 223, 223, 223, 16906283)
('Turks and Caicos Islands', 224, 224, 224, 37665)
('Chad', 225, 225, 225, 15477751)
('East Asia & Pacific (IDA & IBRD countries)', 226, 226, 226, 2056064424)
('Europe & Central Asia (IDA & IBRD countries)', 227, 227, 227, 459865205)
('Togo', 228, 228, 228, 7889094)
('Thailand', 229, 229, 229, 69428524)
('Tajikistan', 230, 230, 230, 9100837)
('Turkmenistan', 231, 231, 231, 5850908)
('Latin America & the Caribbean (IDA & IBRD countries)', 232, 232, 232, 625569713)
('Timor-Leste', 233, 233, 233, 1267972)
('Middle East & North Africa (IDA & IBRD countries)', 234, 234, 234, 378327628)
('Tonga', 235, 235, 235, 103197)
('South Asia (IDA & IBRD)', 236, 236, 236, 1814388744)
('Sub-Saharan Africa (IDA & IBRD countries)', 237, 237, 237, 1078306520)
('Trinidad and Tobago', 238, 238, 238, 1389858)
('Tunisia', 239, 239, 239, 11565204)
('Turkey', 240, 240, 240, 82319724)
('Tuvalu', 241, 241, 241, 11508)
('Tanzania', 242, 242, 242, 56318348)
('Uganda', 243, 243, 243, 42723139)
('Ukraine', 244, 244, 244, 44622516)
('Upper middle income', 245, 245, 245, 2655635719)
('Uruguay', 246, 246, 246, 3449299)
('United States', 247, 247, 247, 327167434)
('Uzbekistan', 248, 248, 248, 32955400)
('St. Vincent and the Grenadines', 249, 249, 249, 110210)
('Venezuela, RB', 250, 250, 250, 28870195)
('British Virgin Islands', 251, 251, 251, 29802)
('Virgin Islands (U.S.)', 252, 252, 252, 106977)
('Vietnam', 253, 253, 253, 95540395)
('Vanuatu', 254, 254, 254, 292680)
('World', 255, 255, 255, 7594270356)
('Samoa', 256, 256, 256, 196130)
('Kosovo', 257, 257, 257, 1845300)
('Yemen, Rep.', 258, 258, 258, 28498687)
('South Africa', 259, 259, 259, 57779622)
('Zambia', 260, 260, 260, 17351822)
('Zimbabwe', 261, 261, 261, 14439018)

In [4]:
l = list(zip(df['Country Name'], list(range(df.shape[0])), list(range(df.shape[0])),
             list(range(df.shape[0])), df['2018']))
l

KeyError: 'Country Name'

In [14]:
# # see SQL_functions.py for function and helper function definitions
for name in csv_names:
    if name != 'abortion_info':
        insert_data(name, name)
    else:
        insert_data_special(name, name)

/Users/rebeccarosen/Desktop/flatiron 2019/mod3/project2/gender-and-tech/SQL_functions.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df2['Year'] = pd.to_numeric(df2['Year'], errors = 'coerce')
/Users/rebeccarosen/Desktop/flatiron 2019/mod3/project2/gender-and-tech/SQL_functions.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df2['Value'] = pd.to_numeric(df2['Value'], errors = 'coerce')

In [21]:
cur, cnx = connect_to_db('gender')
df = pd.read_csv('Data To Use/Honeypot_Women_in_Tech.csv')
cur.executemany(insert_more_query('women_in_tech'), get_more_tuples(df))
cnx.commit()
cnx.close()