In [6]:
# this notebook creates and populates tables for UN Data reports

In [1]:
from functions import *
from SQL_functions import *
import config
import mysql.connector
from mysql.connector import errorcode
import math
import pandas as pd
import numpy as np
%load_ext autoreload
%reload_ext autoreload
%autoreload 2

In [2]:
cur, cnx = connect_to_db('gender')

## Creating Tables for UN Data

In [4]:
TABLES = {}

In [ ]:
# Creating table for child birth rate
TABLES['child_birth_rate'] = ("""
    CREATE TABLE child_birth_rate (
    country varchar(50),
    subgroup varchar(200),
    year int(50),
    unit varchar(50),
    value int(50),
    PRIMARY KEY (country, subgroup, year)
    ) 
    """)

In [ ]:
# Creating table for contraceptive prevalence
TABLES['contraceptive_prevalence'] = ("""
    CREATE TABLE contraceptive_prevalence (
    country varchar(50),
    subgroup varchar(200),
    year int(50),
    unit varchar(50),
    value int(50),
    PRIMARY KEY (country, subgroup, year)
    ) 
    """)

In [ ]:
# Creating table for contraceptive prevalence
TABLES['gender_rural_ratio'] = ("""
    CREATE TABLE gender_rural_ratio (
    country varchar(50),
    subgroup varchar(200),
    year int(50),
    unit varchar(50),
    value int(50),
    PRIMARY KEY (country, subgroup, year)
    ) 
    """)

In [ ]:
# Creating table for gender rural ratio
TABLES['gender_urban_ratio'] = ("""
    CREATE TABLE gender_urban_ratio (
    country varchar(50),
    subgroup varchar(200),
    year int(50),
    unit varchar(50),
    value int(50),
    PRIMARY KEY (country, subgroup, year)
    ) 
    """)

In [ ]:
# Creating table for tertiary education enrollment
TABLES['ter_ed_enrollment'] = ("""
    CREATE TABLE ter_ed_enrollment (
    country varchar(50),
    subgroup varchar(200),
    year int(50),
    unit varchar(50),
    value int(50),
    PRIMARY KEY (country, subgroup, year)
    ) 
    """)

In [ ]:
# Creating table for percentage of women teaching secondary education
TABLES['women_teach_sec'] = ("""
    CREATE TABLE women_teach_sec (
    country varchar(50),
    subgroup varchar(200),
    year int(50),
    unit varchar(50),
    value int(50),
    PRIMARY KEY (country, subgroup, year)
    ) 
    """)

In [5]:
# Creating table for  percentage of women teaching tertiary education
TABLES['women_teach_ter'] = ("""
    CREATE TABLE women_teach_ter (
    country varchar(50),
    subgroup varchar(200),
    year int(50),
    unit varchar(50),
    value int(50),
    PRIMARY KEY (country, subgroup, year)
    ) 
    """)

In [6]:
# Creating table for  percentage of women teaching tertiary education
TABLES['abortion_laws'] = ("""
    CREATE TABLE abortion_laws (
    country varchar(50),
    subgroup varchar(200),
    year int(50),
    unit varchar(50),
    value int(50),
    PRIMARY KEY (country, subgroup, year)
    ) 
    """)

In [11]:
# Creating table for  percentage of women teaching tertiary education
TABLES['abortion_rate'] = ("""
    CREATE TABLE abortion_rate (
    country varchar(50),
    subgroup varchar(200),
    year int(50),
    unit varchar(50),
    value int(50),
    PRIMARY KEY (country, subgroup, year)
    ) 
    """)

In [12]:
# added to DB
cur.execute(TABLES['child_birth_rate']) 
cur.execute(TABLES['contraceptive_prevalence'])
cur.execute(TABLES['gender_urban_ratio'])
cur.execute(TABLES['gender_rural_ratio'])
cur.execute(TABLES['ter_ed_enrollment'])
cur.execute(TABLES['women_teach_sec'])
cur.execute(TABLES['women_teach_ter'])
cur.execute(TABLES['abortion_laws'])
cur.execute(TABLES['abortion_rate'])

In [13]:
# close cursor
cnx.close()
cur.close() # returned True

True

## Populating our Tables

In [14]:
# # see SQL_functions.py for function definitions
# insert_data('child_birth_rate', 'child_birth_rate')
# insert_data('contraceptive_prevalence', 'contraceptive_prevalence')
# insert_data('gender_urban_ratio', 'gender_urban_ratio')
# insert_data('gender_rural_ratio', 'gender_rural_ratio')
# insert_data('ter_ed_enrollment', 'ter_ed_enrollment')
# insert_data('women_teach_sec', 'women_teach_sec')
# insert_data('women_teach_ter', 'women_teach_ter')
insert_data('abortion_laws', 'abortion_laws')
insert_data('abortion_rate', 'abortion_rate')

/Users/rebeccarosen/Desktop/flatiron 2019/mod3/project2/gender-and-tech/SQL_functions.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df2['Year'] = pd.to_numeric(df2['Year'], errors = 'coerce')
/Users/rebeccarosen/Desktop/flatiron 2019/mod3/project2/gender-and-tech/SQL_functions.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df2['Value'] = pd.to_numeric(df2['Value'], errors = 'coerce')