## Create Main Table

In [1]:
from functions import *

In [2]:
## Connect to DB server on AWS
cur, cnx = connect_to_db('gender')

In [3]:
create_main_table_query = '''
CREATE TABLE women_in_tech (
    country varchar(255) NOT NULL,
    total_workforce_millions FLOAT,
    female_workforce_millions FLOAT,
    percent_women_workers FLOAT,
    percent_women_legislators_senior_officials_and_managers FLOAT,
    percent_women_in_parliament FLOAT,
    percent_women_in_ministerial_positions FLOAT,
    overall_workforce_average_wage_USD INT,
    womens_average_wage_USD INT,
    gender_pay_gap_percentage FLOAT,
    tech_workforce_thousands FLOAT,
    percent_workforce_in_tech FLOAT,
    female_tech_workforce_thousands FLOAT,
    percent_women_in_tech FLOAT,
    percent_difference_of_women_in_workforce_and_women_in_tech FLOAT,
    female_stem_graduates_percentage FLOAT,
    tech_average_wage_USD INT,
    tech_average_wage_for_women_USD INT,
    gender_pay_gap_in_tech_percentage FLOAT,
    percent_difference_overall_gender_pay_gap_vs_tech_gender_pay_gap FLOAT,
    gender_inequality_index FLOAT,
    gender_pay_gap_2010 FLOAT,
    comparison_of_gender_pay_gap_from_2010_to_2015 FLOAT,
    PRIMARY KEY (country)
    )
'''

In [4]:
cur.execute(create_main_table_query)

In [5]:
cnx.close()

## Insert Honeypot Women in Tech Data into AWS DB

In [6]:
import pandas as pd
from functions import *

In [7]:
def insert_more_query(table_name):
    insert_query = f'''INSERT IGNORE INTO {table_name} (
        country,
        total_workforce_millions,
        female_workforce_millions,
        percent_women_workers,
        percent_women_legislators_senior_officials_and_managers,
        percent_women_in_parliament,
        percent_women_in_ministerial_positions,
        overall_workforce_average_wage_USD,
        womens_average_wage_USD,
        gender_pay_gap_percentage,
        tech_workforce_thousands,
        percent_workforce_in_tech,
        female_tech_workforce_thousands,
        percent_women_in_tech,
        percent_difference_of_women_in_workforce_and_women_in_tech,
        female_stem_graduates_percentage,
        tech_average_wage_USD,
        tech_average_wage_for_women_USD,
        gender_pay_gap_in_tech_percentage,
        percent_difference_overall_gender_pay_gap_vs_tech_gender_pay_gap,
        gender_inequality_index,
        gender_pay_gap_2010,
        comparison_of_gender_pay_gap_from_2010_to_2015
        )
        VALUES 
        (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        '''

In [8]:
def get_more_tuples(df):
    tuple_list = []
    for index, row in df.iterrows():
        tup = (row[1],
               row[2],
               row[3],
               float(row[4][:-1]),
               float(row[5][:-1]),    
               float(row[6][:-1]),
               float(row[7][:-1]),
               row[8],
               row[9],
               float(row[10][:-1]),
               row[11],
               float(row[12][:-1]),
               row[13],
               float(row[14][:-1]),
               float(row[15][:-1]),
               float(row[16][:-1]),
               row[17],
               row[18],
               float(row[19][:-1]),
               float(row[20][:-1]),
               row[21],
               float(row[22][:-1]),
               float(row[23][:-1])
              ) 
        tuple_list.append(tup)
    return tuple_list

In [9]:
cur, cnx = connect_to_db('gender')
df = pd.read_csv('Data To Use/Honeypot_Women_in_Tech.csv')
cur.executemany(insert_more_query('women_in_tech'), get_more_tuples(df))
cnx.commit()
cnx.close()